<% @page_title = "Asset Management" %>

<div style="overflow: auto;background: #ccc;">
<div class="oneW" style="text-align: right"><h2>Search:</h2></div>
<div class="fiveW endcap" id="search_box"></div>
</div>

<div class='assetbox' id='asset_browser'></div>

<script type="text/javascript">
	var browser = new AssetHost.BrowserUI({
		root_path: '/a/assets',
		assets:<%= (@assets.map { |a| a.json }).to_json.html_safe %>,
		page: <%= @assets.current_page %>,
		total: <%= @assets.total_entries %>,
		modalSelect: true,
		modalAdmin: false
	})
	browser.assets.bind('selected',function (a) { 
		console.log("got selected for ",a)
		window.location = "/a/assets/"+a.get("id")
	})
	
	$(".ui-widget-overlay").live('click', function(){
	   $(".ui-dialog-titlebar-close").trigger('click');
	});
</script>