<%
	@PAGE_TITLE = "Drop Test"
%>

<div class="row-fluid">
	<div class="span4">
		<h3>Selected Assets:</h3>
		
		<div id="my_assets" style="">
		<p><i>Drop assets here to add them to your story</i></p>
		</div>	
		
	</div>
	<div class="span8">
		<div class="row">
			<div class="span2"><h3 style="text-align: right">Search:</h3></div>
			<div class="span6" id="search_box">
				
			</div>
		</div>
		
		<div id="asset_browser" class="assetbox"></div>
		
		<br class="clear"/>
	</div>
</div>

<script type="text/javascript">
	chooser = new AssetHost.ChooserUI({
		browser:new AssetHost.BrowserUI({
			assets:<%= (@assets.map { |a| a.json }).to_json.html_safe %>,
			page: <%= @assets.current_page %>,
			total: <%= @assets.total_entries %>,
			modalSelect: true,
			modalAdmin: true
		})
	})
	
	window.opener.postMessage("LOADED","*")
	
	$(window).bind("message", function (evt) {
	    evt = evt.originalEvent
	    
	    chooser.selectAssets(evt.data)
        console.log("got message of ", evt)
        
        chooser.bind('saveAndClose',function(json) {
           evt.source.postMessage(json,evt.origin)
           window.close()
        })
	})
</script>