/*
 asset admin
*/


$column: 88px;
$padding: 18px;
$orange: #d1570d;

ul.asset_sizes {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    li {
        display: inline;
        float: left;
        padding: 8px;
        margin-right: 8px;
        border: 1px solid $orange;
        color: #444;
        
        h1 {
           margin-top: 0;
           margin-bottom: 4px;
        }        
    }
    
    li.selected {
        background-color: #ddd;
    }
}

.assetbox {
    margin-right: -12px;
	ul {
		list-style-type: none;
		margin-right: -12px;
		padding: 0;
		
		li {
			display: inline;
			float: left;
			width: $column;
			height: $column;
			margin-right: $padding - 2;
			margin-bottom: $padding;
			background: #eee;
			
			button {
			    padding: 0;
    			border: 1px solid #ddd;
			    
    			img {
    			    
    			}
			}
			
			button:hover {
    			border: 8px solid #ffc;
    			margin-left: -7px;
    			margin-top: -7px;
    			margin: -7px $padding - 9 $padding - 7 -7px;
    			cursor: pointer;
    		}
			
			
			a {
				color: inherit;
				
				:hover {
					text-decoration: none;
				}
			}
			
			span {
			    display: none;
			}
		}
	}
}

.tooltip {
	position: absolute!important;
	overflow:hidden;
	font-size: 11px;
	z-index: 10000!important;
	background: transparentize(#fff,0.1);
	text-align: left;
	padding: 8px;
	border-radius: 8px;
	border: 2px solid $orange;
	
	h3 {
	    margin-top: 0;
	    margin-bottom: 2px;
	    font: normal 12px Arial, Helvetica, sans-serif;
	    color: $orange;
	}
}


#replacedrop, #filedrop {
    background: #ffe;
    border: 1px solid darken(#ffc,40%);
    min-height: 32px;
    
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		min-height: 32px;
		background: #ffc;
		
		li {
			display: block;
			padding: 4px;
			margin-bottom: 2px;
			border: 1px solid #aaa;
			
			span {
			    display: inline;
			    float: right;
			    padding: 0 4px;
			    color: #f00;
			    border: 1px solid #fbb;
			    background: #eee;
			}
		}
		
		li.help {
		    font-size: 16px;
		    color: #aaa;
		    text-align: center;
		    padding: 12px;
		}
		
		.ready {
			background: #efc;
		}
	
		.uploading {
			background: #cfc;
		}
		
		.complete {
			background: #afa;
		}	
		
	}
	
	p.ahUp_upbutton {
	   display: block;
	   margin: 0;
	   padding: 4px;
	   border: 1px solid #aaa;
	   background: #fff;
	   text-align: center;
	   font-weight: bold;
	}
	
}

form.formtastic {
	legend {
		font: normal 21px/24px sans-serif;
		color: $orange;
	}
	
	.input {
        margin-bottom: 4px;
	    
    	.inline-hints {
    		color: #777 !important;
    		font-size: 12px;
    		margin-top: 2px;
    		margin-bottom: 2px;
    	}
    }
	
	
	ol {
		background: rgba(60,60,60,.2);
		padding-left: 6px;
	}
	
	label {
		font-size: 14px;
	}
	
	ol ol {
	    background: inherit;
	    padding: inherit;
	}
	
	li fieldset legend {
	    font: inherit;
	    color: inherit;
	}
	
	.required label {
		font-weight: bold;
	}
	
}