//=require ./public

.slideview {
    position: relative;
    background: #fff;
    overflow: hidden;
    margin: 0 auto;

    font: 12px normal Arial, Helvetica, sans-serif;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    li {
        position: absolute;
        margin: 0;
        padding: 0;
    }    
    
    .nav {
        padding-top: 8px;
        padding-bottom: 4px;
        
        div {
           display: inline;
           float: left;
           text-align: center;
        }
        
        button {
            background: none;
        	display: inline-block; 
        	padding: 3px 5px; 
        	color: #555; 
        	text-decoration: none;
        	border: none;
        	position: relative;
        	cursor: pointer;
        }
        
        button.prev-arrow {
    	   background: image_url("arrow-left.gif") no-repeat 0 4px;
    	   padding-left: 20px;
    	}
    	
    	button.next-arrow {
    	    background: image_url("arrow-right.gif") no-repeat 100% 4px;
    	    padding-right: 20px;
    	}
        
        button.disabled {
            color: #bbb;
        }
        
        button.current {
            border: 1px solid #ea6;
        }
    }
}

.slideview:focus {
    border: inherit;
    outline: none;
}

.slide {
    .credit {
        font-size: 10px;
        text-align: right;
        color: #777;
    }
    
    p {
        margin: 0;
        padding: 4px 4px;
    }
}