<%
	@page_title = "AssetHost Admin"
%>

<h1>Admin Interface</h1>

<hr/>
<h2><%= link_to "Assets Navigator", a_assets_path %></h2>

<h2><%= link_to "Manage Brightcove Assets", a_brightcove_index_path %></h2>
