/*
 public
*/

#saveAndClose {
    margin: 16px auto;
}

#assets_loading {
    position: absolute;
    height: 490px;
    width: 620px;
    background: #fcc;
}

#my_assets {
    height: 430px;
    overflow: auto;
    background: #ffc;
    
    ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
       
       li {
           clear: both;
           background: #eee;
           border: 1px solid #aaa;
           padding: 2px;
           margin-bottom: 4px;
           height: 86px;
           
           button {
              display: inline;
              float: right;
           }
           
           img {
               display: inline;
               float: left;
               margin: -2px 4px 0 -2px;
           }
       }
    }
}

ul.pages {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
        display: inline;
        float: left;
        border: 1px solid #666;
        padding: 8px;
        margin: 4px;
        cursor: pointer;        
    }
    
    li.current {
        border: 1px solid #ffc;
        background: #ddd;
        font-weight: bold;
    }
    
    li.spacer {
        cursor: inherit;
        border: none;
    }
}

span.asset_tip {
    background: #fff;
    padding: 12px;
    min-width: 200px;
}

.page_prev {
    display: inline;
    float: left;
    width: 160px;
}

.page_info {
    text-align: center;
}

.page_next {
    display: inline;
    float: right;
    width: 160px;
    text-align: right;
    margin-right: 12px;
}

.ah_asset_browse {    
    img {
        display: inline;
        float: right;
        padding-left: 8px;
        padding-bottom: 8px;
    }
    
    h1 {
        font: 18px/24px normal Arial, Helvetica, sans-serif;
    }
    
    h2 {
        font: 14px/18px normal Arial, Helvetica, sans-serif;
        color: #444;
        margin: 0;
    }
    
    .simplemodal-data {
        padding:8px;
    }
        
    a {
        color:#ddd;
    }
    a.modalCloseImg {
        background:url(/img/x.png) no-repeat; 
        width:25px; 
        height:29px; 
        display:inline; 
        z-index:3200; 
        position:absolute; 
        top:-15px; 
        right:-16px; 
        cursor:pointer;
    }
    h3 {
        color:#84b8d9;
    } 
}


.awesome, .awesome:visited {
	background: #222 url(/img/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
 
	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
	.red.awesome:hover							{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }