<%
	@page_title = "Drop Test"
%>

<p><a href="#" id="popup1">Pop Up Asset Chooser</a></p>

<h2>Results:</h2>
<div id="results"></div>

<script type="text/javascript">
	myAssets = []

	$('#popup1').bind('click',function(evt) {
		newwindow = window.open("/a/chooser?callback=fooCallback",'chooser','height=620,width=1000')
		newwindow.fooCallback = function(chooser) {
			chooser.selectAssets(myAssets)
			
			chooser.bind('saveAndClose',function(json) {
				console.log('got saveAndClose with JSON of ', json)
				
				assets = []
				
				_(json).each( function(a) {
					el = $("<div/>",{'class':"asset"})
										
					el.append(a.tags.lead)
					el.append($("<p/>",{text: a.caption}))
					
					assets.push( el[0] )
					
					myAssets.push({
						id: a.id,
						caption: a.caption
					})
				})
				
				newwindow.close()
				$("#results").html(assets)
			})			
		}
		
		if (window.focus) {
			newwindow.focus()
		}
		
		return false;
	})
</script>
