<%
	@page_title = "Drop Test"
%>

<h1>Drop Test</h1>

<div id="assetdrop" style="background: #ffc;width: 400px;height:200px">
	
</div>

<script type="text/javascript">
	aDrop = new AssetHostTarget()
</script>