<%
	@page_title = "Drop Test"
%>

<h1>Drop Test</h1>

<div class="fourW">
<div id="assetdrop" style="background: #ffc;height:200px">
	
</div>
</div>
<div class="fiveW endcap">
	<h2>Preview</h2>
	
	<div id="preview">
		
	</div>
</div>
<br class="clear"/>

<script type="text/javascript">
	aDrop = new AssetHostTarget()
</script>