<%
	@page_title = "Drop Test"
%>

<div class="threeW">
	<h2>Selected Assets:</h2>
	
	<div id="my_assets" style="">
	<p><i>Drop assets here to add them to your story</i></p>
	</div>
	
	<hr/>
		
</div>
<div class="sixW endcap">
	<div class="twoW"><h2>Search:</h2></div>
	<div class="fourW endcap"><p><i>Search box</i></p></div>
	<br class="clear"/>
	
	<div id="assets_loading">&nbsp;</div>
	<div id="asset_browser" class="assetbox"></div>
	
</div>

<br class="clear"/>

<script type="text/javascript">
	aBrowser = new AssetHostBrowserUI()
	aSelect = new AssetHostChooserUI({browser:aBrowser})
</script>