<%
	@page_title = "Drop Test"
%>

<p><a href="#" id="popup1">Pop Up Asset Chooser</a></p>

<script type="text/javascript">
	$('#popup1').bind('click',function(evt) {
		newwindow = window.open("/a/chooser?callback=fooCallback",'chooser','height=620,width=1000')
		newwindow.fooCallback = function(chooser) {
			chooser.bind('saveAndClose',function(json) {
				console.log('got saveAndClose with JSON of ', json)
				newwindow.close()
			})			
		}
		
		if (window.focus) {
			newwindow.focus()
		}
		
		return false;
	})
</script>
